<div class="row mt-4">
    <div class="col-12 text-right">
        <button (click)="" type="button" name="" id="" class="btn btn-success btn-lg btn-block">Añadir usuario</button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <input type="text" placeholder="Buscar usuario por nombre: " [formControl]="searchFormControl">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 text-center">
            <div class="card-columns">
                <div class="card w-75" *ngFor="">
                    <img class="card-img-top" [src]="" alt="">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{}}
                            {{}}
                        </h4>
                        <p class="card-text">Email:{{}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
